
  <!-- Image Banner: Use the the data-bg-img functionality to create a simple image banner Use spacer classes to make the banner larger with padding, allows for easy responsive changes too see: elements-ctas.htm To make the banner full height/screen add the attributes: data-toggle="full-height" data-offset="#header" -->
  <div class="bg-white overlay overlay-primary text-center px-3 py-5 py-lg-10 flex-valign"
    data-css='{"background-position": "center bottom","background-attachment": "fixed"}' >
    <div class="center"> <h1>Trainer </h1>
      <h3>courses for you</h3>
    </div>
  </div>

<div id="features" class="container py-4 py-lg-6">
    <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary" />
    <h2 class="text-center text-uppercase font-weight-bold my-0">
      What you will learn
    </h2>
    <hr class="mb-5 w-50 mx-auto" />
    <div class="row text-center">
      <div class="col-lg-4 py-2">
        <i class="fa fa-tachometer icon-5x text-primary" data-animate="fadeIn" data-animate-delay="0.1"></i>
        <h4 class="mt-2">
          Fully Optimized
        </h4>
        <p>Fere incassum nostrud praemitto singularis. Accumsan interdico nulla pagus roto typicus vicis.</p>
      </div>
      <div class="col-lg-4 py-2">
        <i class="fa fa-wrench icon-5x text-primary" data-animate="fadeIn" data-animate-delay="0.2"></i>
        <h4 class="mt-2">
          Free Support
        </h4>
        <p>Caecus facilisis genitus iaceo olim paulatim quia quis roto.</p>
      </div>
      <div class="col-lg-4 py-2">
        <i class="fa fa-rocket icon-5x text-primary" data-animate="fadeIn" data-animate-delay="0.3"></i>
        <h4 class="mt-2">
          Free Upgrades
        </h4>
        <p>Abigo diam exerci si tation. Camur commoveo enim praesent quadrum roto volutpat.</p>
      </div>
    </div>
  </div>


